@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}